=<!DOCTYPE html>
<html lang="en">
<head>
  <title>Study Space</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Study Space</h2>
  <p>This is for study space</p>
  

  <ul class="nav nav-tabs">
    
    <li><a data-toggle="tab" href="#menu1">Study Halls</a></li>
    <li><a data-toggle="tab" href="#menu2">Enquires</a></li>
    <li><a data-toggle="tab" href="#menu3"> Expense</a></li>
  </ul>

  <div class="tab-content">
    
    <div id="menu1" class="tab-pane fade">
      <li class="active"><h3>Study HAll</h3>
      <p>This is Study hall tab </p></li>
      <!--<p>{{halls}}</p>-->
      {% for hall in halls%}
      <p>{{hall.name}},{{hall.area}}</p>
      {%endfor %}
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>This is Enquiries form.</p>
      <p>{{enqs}}</p>
     {% for enq in enqs%}
     <p>{{enq.name}},{{enq.course}},{{enq.student}}</p>
     {%endfor %}

    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>This is Expense sheet.</p>
      <p>{{exps}}</p>

      {% for exp in exps%}
      <p>{{exp.name}},{{exp.dateofexpense}},{{exp.name_studyhall}},{{exp.desc}},{{exp.value}}</p>
      {%endfor %}
    </div>
  </div>
</div>

</body>
</html>